body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f6fa;
}

/* HEADER */
.header {
    background: #0b6fa4;
    padding: 15px 0;
    color: #fff;
}

.header .container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 200px;
}

nav a {
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}

.btn-login {
    background: #ffffff;
    color: #0b6fa4 !important;
    padding: 8px 15px;
    border-radius: 6px;
}


.card img {
    width: 80px;
}

/* LOGIN */
.login-section {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background: #fff;
    padding: 35px;
    border-radius: 12px;
    width: 350px;
    box-shadow: 0 4px 12px #bbbbbb;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.login-box button {
    width: 100%;
    margin-top: 18px;
    padding: 12px;
    border: none;
    border-radius: 6px;
    background: #0b6fa4;
    color: #fff;
    font-size: 16px;
}

footer {
    background: #0b6fa4;
    color: #fff;
    text-align: center;
    padding: 12px 0;
    margin-top: 40px;
}
